<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <div th:fragment="bottombar">
        <style>
            .footer-bottom {
                text-align: center;
                padding: 20px 0;
                border-top: 1px solid #222;
                font-size: 0.8rem;
                color: #777;               
                width: 100%;
                position: relative; 
                bottom: 0;
                left: 0;
                margin-top: auto; 
            }
        </style>

        <div class="footer-bottom">
            © 2026 {NombreCasino} · Todos los derechos reservados
        </div>
</body>
</html>