<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    
</head>
<body>

<div th:fragment="topbar">
    <link rel="stylesheet" th:href="@{/estilos/estilosHeader.css}">
    <div class="top-bar">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="Logo"></a>
        </div>
        
        <div class="menu-center" id="menu-juegos">
            <span class="menu-title">
                WCasino
            </span>
        </div>
        
        <div class="menu-right" id="menu-login">
            <span class="material-symbols-outlined">person</span>
            <ul class="dropdown">
                <li th:if="${isLoggedIn == null or !isLoggedIn}">
                    <a th:href="@{/authentication/register}">Registrarse</a>
                </li>
                <li th:if="${isLoggedIn == null or !isLoggedIn}">
                    <a th:href="@{/authentication/login}">Iniciar sesión</a>
                </li>
                <li th:if="${isLoggedIn != null and isLoggedIn}">
                    <form th:action="@{/logout}" method="post" id="logoutForm" style="display:none;"></form>
                    <a href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit();">
                        Cerrar sesión
                    </a>
                 </li>
                 <li th:if="${isLoggedIn != null and isLoggedIn and userStatus != 3}">
                    <a th:href="@{/authentication/usersList}">Lista de usuarios</a>
                 </li>
            </ul>
        </div>
    </div>
    <script th:src="@{/scripts/dropdownMenus.js}"></script>
</div>

</body>
</html>